body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.maincontent{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  padding: 48px;
  gap: 16px;
  align-content: flex-start;
  justify-content: flex-start;
}
.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}
.middle{
  display:flex;
  flex: 1;
}
.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  flex-shrink: 0;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 10px;
  height: 300px;
  width: 300px;
  flex: 0, 0 , auto;
}

li {
  margin-bottom: 16px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}